html {
  background-color: #c9b5ab;
  font-family: Georgia, serif;
}

img {
  width: 100%;

}
h1, h2, h3 , h4 {
  font-family: 'PT Sans', sans-serif;
}

h1{
  color: #3f1622;
  rem: #1.125rem;
}

h2{
color: #3f1622;
}

h3{
  color: #3f1622;
}

h4{
  color: #3f1622;
}

head{
  color: #3f1622;
}
